In [1]:
import pandas as pd
import nltk

In [2]:
df = pd.read_csv("dataset (1).csv")
df

                                                    Text  language
0      klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1      sebes joseph pereira thomas  på eng the jesuit...   Swedish
2      ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3      விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4      de spons behoort tot het geslacht haliclona en...     Dutch
...                                                  ...       ...
21995  hors du terrain les années  et  sont des année...    French
21996  ใน พศ  หลักจากที่เสด็จประพาสแหลมมลายู ชวา อินเ...      Thai
21997  con motivo de la celebración del septuagésimoq...   Spanish
21998  年月，當時還只有歲的她在美國出道，以mai-k名義推出首張英文《baby i like》，由...   Chinese
21999   aprilie sonda spațială messenger a nasa și-a ...  Romanian

[22000 rows x 2 columns]

In [3]:
df1 = df.drop_duplicates()

In [4]:
df1

                                                    Text  language
0      klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1      sebes joseph pereira thomas  på eng the jesuit...   Swedish
2      ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3      விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4      de spons behoort tot het geslacht haliclona en...     Dutch
...                                                  ...       ...
21995  hors du terrain les années  et  sont des année...    French
21996  ใน พศ  หลักจากที่เสด็จประพาสแหลมมลายู ชวา อินเ...      Thai
21997  con motivo de la celebración del septuagésimoq...   Spanish
21998  年月，當時還只有歲的她在美國出道，以mai-k名義推出首張英文《baby i like》，由...   Chinese
21999   aprilie sonda spațială messenger a nasa și-a ...  Romanian

[21859 rows x 2 columns]

In [5]:
x = df1['Text']
x

0        klement gottwaldi surnukeha palsameeriti ning ...
1        sebes joseph pereira thomas  på eng the jesuit...
2        ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...
3        விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...
4        de spons behoort tot het geslacht haliclona en...
                               ...
21995    hors du terrain les années  et  sont des année...
21996    ใน พศ  หลักจากที่เสด็จประพาสแหลมมลายู ชวา อินเ...
21997    con motivo de la celebración del septuagésimoq...
21998    年月，當時還只有歲的她在美國出道，以mai-k名義推出首張英文《baby i like》，由...
21999     aprilie sonda spațială messenger a nasa și-a ...
Name: Text, Length: 21859, dtype: object

In [6]:
y = df1[['language']]
y

       language
0      Estonian
1       Swedish
2          Thai
3         Tamil
4         Dutch
...         ...
21995    French
21996      Thai
21997   Spanish
21998   Chinese
21999  Romanian

[21859 rows x 1 columns]

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
LB = LabelEncoder()
y1 = LB.fit_transform(y)
y1

C:\Users\Public\OnkarJ\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([ 4, 17, 19, ..., 16,  1, 14])

In [9]:
y2 = pd.DataFrame(y1,columns=['language'])
y2.value_counts()

language
11          1000
8           1000
20          1000
19          1000
14          1000
1           1000
9           1000
21          1000
3           1000
4            999
15           999
0            998
12           997
16           996
2            996
13           993
17           992
6            990
5            990
18           981
7            975
10           953
dtype: int64

# tokenization

In [10]:
from nltk.tokenize import sent_tokenize

In [11]:
def Tokenization(data): 
    tokens = sent_tokenize(data)
    return tokens

In [12]:
x_token = x.apply(Tokenization) #take x as series
x_token

0        [klement gottwaldi surnukeha palsameeriti ning...
1        [sebes joseph pereira thomas  på eng the jesui...
2        [ถนนเจริญกรุง อักษรโรมัน thanon charoen krung ...
3        [விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்தி...
4        [de spons behoort tot het geslacht haliclona e...
                               ...
21995    [hors du terrain les années  et  sont des anné...
21996    [ใน พศ  หลักจากที่เสด็จประพาสแหลมมลายู ชวา อิน...
21997    [con motivo de la celebración del septuagésimo...
21998    [年月，當時還只有歲的她在美國出道，以mai-k名義推出首張英文《baby i like》，...
21999    [ aprilie sonda spațială messenger a nasa și-a...
Name: Text, Length: 21859, dtype: object

# cleaning

In [13]:
from string import punctuation

In [14]:
def Cleaning(data):
    clean = [i for i in data if i not in  punctuation]
    return clean

In [15]:
x_clean = x_token.apply(Cleaning)
x_clean

0        [klement gottwaldi surnukeha palsameeriti ning...
1        [sebes joseph pereira thomas  på eng the jesui...
2        [ถนนเจริญกรุง อักษรโรมัน thanon charoen krung ...
3        [விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்தி...
4        [de spons behoort tot het geslacht haliclona e...
                               ...
21995    [hors du terrain les années  et  sont des anné...
21996    [ใน พศ  หลักจากที่เสด็จประพาสแหลมมลายู ชวา อิน...
21997    [con motivo de la celebración del septuagésimo...
21998    [年月，當時還只有歲的她在美國出道，以mai-k名義推出首張英文《baby i like》，...
21999    [ aprilie sonda spațială messenger a nasa și-a...
Name: Text, Length: 21859, dtype: object

In [16]:
def Join(data):
    text = ' '.join(data)
    return text

In [17]:
x_join = x_clean.apply(Join)
x_join

0        klement gottwaldi surnukeha palsameeriti ning ...
1        sebes joseph pereira thomas  på eng the jesuit...
2        ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...
3        விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...
4        de spons behoort tot het geslacht haliclona en...
                               ...
21995    hors du terrain les années  et  sont des année...
21996    ใน พศ  หลักจากที่เสด็จประพาสแหลมมลายู ชวา อินเ...
21997    con motivo de la celebración del septuagésimoq...
21998    年月，當時還只有歲的她在美國出道，以mai-k名義推出首張英文《baby i like》，由...
21999     aprilie sonda spațială messenger a nasa și-a ...
Name: Text, Length: 21859, dtype: object

# splittg the data

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
xtrain,xtest,ytrain,ytest = train_test_split(x_join,y2,test_size=0.2,random_state=42,stratify=y2)

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [21]:
TF = TfidfVectorizer(max_df=0.95,max_features=1000)

In [22]:
xtraintf = TF.fit_transform(xtrain)
xtesttf = TF.transform(xtest)

In [23]:
TF.get_feature_names()

C:\Users\Public\OnkarJ\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['aan',
 'aastal',
 'ab',
 'ac',
 'ad',
 'ada',
 'adalah',
 'after',
 'akan',
 'al',
 'album',
 'all',
 'als',
 'also',
 'american',
 'an',
 'and',
 'ani',
 'anno',
 'anos',
 'ao',
 'april',
 'are',
 'as',
 'at',
 'atau',
 'att',
 'até',
 'au',
 'augusti',
 'aux',
 'av',
 'avec',
 'ayam',
 'bagian',
 'bahasa',
 'bahwa',
 'band',
 'be',
 'beberapa',
 'been',
 'beskrevs',
 'best',
 'bij',
 'bir',
 'brasil',
 'bu',
 'but',
 'by',
 'ca',
 'care',
 'catalogue',
 'ce',
 'cette',
 'circa',
 'city',
 'club',
 'clubs',
 'com',
 'comme',
 'commune',
 'como',
 'con',
 'contra',
 'cu',
 'cum',
 'că',
 'da',
 'daha',
 'dalam',
 'dan',
 'dans',
 'dapat',
 'dar',
 'dari',
 'das',
 'dat',
 'david',
 'de',
 'december',
 'del',
 'delen',
 'den',
 'dengan',
 'departamento',
 'der',
 'des',
 'desde',
 'det',
 'deux',
 'deze',
 'di',
 'die',
 'din',
 'dit',
 'do',
 'dont',
 'door',
 'dos',
 'du',
 'dun',
 'după',
 'durante',
 'då',
 'een',
 'eerst',
 'eerste',
 'eesti',
 'ei',
 'el',
 'ela',
 'ele',
 'ella',
 'elle',
 'em',
 'en',
 'entre',
 'er',
 'era',
 'es',
 'est',
 'esta',
 'estado',
 'este',
 'está',
 'et',
 'ett',
 'ex',
 'familia',
 'familie',
 'familjen',
 'fi',
 'film',
 'final',
 'finale',
 'finns',
 'first',
 'foi',
 'for',
 'foram',
 'forma',
 'fost',
 'france',
 'from',
 'från',
 'fue',
 'fuit',
 'för',
 'geldig',
 'general',
 'genomsnitt',
 'genomsnittlig',
 'gepubliceerd',
 'gereja',
 'gibi',
 'godin',
 'grande',
 'ha',
 'had',
 'han',
 'har',
 'hari',
 'has',
 'have',
 'havet',
 'he',
 'heeft',
 'her',
 'het',
 'high',
 'hij',
 'his',
 'huvudstaden',
 'högsta',
 'ia',
 'ianuarii',
 'ii',
 'il',
 'ile',
 'ilk',
 'in',
 'incolarum',
 'indonesia',
 'inga',
 'ingår',
 'ini',
 'inter',
 'international',
 'invånare',
 'is',
 'ise',
 'it',
 'its',
 'itu',
 'için',
 'ja',
 'januari',
 'jean',
 'john',
 'juga',
 'juli',
 'juni',
 'ka',
 'kallaste',
 'kan',
 'karena',
 'ke',
 'kemudian',
 'km',
 'kota',
 'kucing',
 'kui',
 'kvadratkilometer',
 'la',
 'lain',
 'landet',
 'las',
 'later',
 'le',
 'lebih',
 'les',
 'life',
 'ligger',
 'listade',
 'lo',
 'los',
 'lui',
 'lund',
 'maar',
 'mai',
 'mais',
 'man',
 'mas',
 'matrimonios',
 'matthews',
 'med',
 'medeltemperaturen',
 'media',
 'memiliki',
 'men',
 'menjadi',
 'mereka',
 'merupakan',
 'met',
 'meter',
 'millimeter',
 'mis',
 'mm',
 'more',
 'mundo',
 'music',
 'más',
 'månaden',
 'na',
 'naam',
 'naar',
 'national',
 'natus',
 'ne',
 'nederbörd',
 'negara',
 'new',
 'niet',
 'ning',
 'no',
 'non',
 'nord',
 'not',
 'nu',
 'não',
 'närheten',
 'och',
 'of',
 'olan',
 'olarak',
 'oleh',
 'oli',
 'om',
 'oma',
 'on',
 'onder',
 'one',
 'ook',
 'op',
 'or',
 'orang',
 'os',
 'other',
 'ou',
 'over',
 'pada',
 'page',
 'par',
 'para',
 'paris',
 'park',
 'parte',
 'partir',
 'pas',
 'paskah',
 'paul',
 'pe',
 'pela',
 'pelo',
 'pentru',
 'per',
 'pero',
 'pertama',
 'place',
 'plus',
 'por',
 'pour',
 'power',
 'prin',
 'provincia',
 'provinsen',
 'på',
 'quae',
 'quam',
 'que',
 'qui',
 'regione',
 'regnigaste',
 'roma',
 'runt',
 'råder',
 'sa',
 'saat',
 'saint',
 'san',
 'satu',
 'sau',
 'school',
 'se',
 'sebagai',
 'sebuah',
 'sed',
 'see',
 'segundo',
 'seperti',
 'september',
 'ser',
 'ses',
 'setelah',
 'seu',
 'she',
 'si',
 'sido',
 'sin',
 'släktet',
 'sobre',
 'som',
 'son',
 'sonra',
 'sont',
 'soort',
 'spesies',
 'state',
 'su',
 'sua',
 'sub',
 'sunt',
 'sur',
 'sus',
 'são',
 'să',
 'ta',
 'tahun',
 'también',
 'também',
 'tarafından',
 'te',
 'team',
 'telah',
 'tema',
 'terrängen',
 'tersebut',
 'that',
 'the',
 'their',
 'this',
 'tidak',
 'till',
 'time',
 'to',
 'top',
 'torraste',
 'tot',
 'trakten',
 'two',
 'uit',
 'um',
 'uma',
 'un',
 'una',
 'under',
 'underarter',
 'une',
 'unitatibus',
 'university',
 'untuk',
 'up',
 'ut',
 'van',
 'var',
 'varmaste',
 've',
 'vez',
 'vid',
 'village',
 'voor',
 'või',
 'was',
 'werd',
 'were',
 'wetenschappelijke',
 'when',
 'which',
 'who',
 'with',
 'won',
 'worden',
 'world',
 'ya',
 'yang',
 'york',
 'yılında',
 'ze',
 'zich',
 'zijn',
 'är',
 'år',
 'årsmedeltemperaturen',
 'årsnederbörd',
 'çok',
 'été',
 'în',
 'över',
 'și',
 'был',
 'была',
 'были',
 'было',
 'года',
 'году',
 'для',
 'до',
 'его',
 'за',
 'из',
 'как',
 'ломоносов',
 'ломоносова',
 'на',
 'не',
 'он',
 'от',
 'по',
 'при',
 'также',
 'что',
 'آبادی',
 'آن',
 'آهن',
 'آپ',
 'آیت',
 'أن',
 'أنه',
 'أو',
 'إلى',
 'ابن',
 'اثر',
 'از',
 'اس',
 'است',
 'استفاده',
 'اسلام',
 'اسلامی',
 'افراد',
 'افغانستان',
 'ال',
 'البابا',
 'التي',
 'الذي',
 'الله',
 'اللہ',
 'اما',
 'ان',
 'اند',
 'او',
 'اور',
 'اپنے',
 'ای',
 'ایران',
 'این',
 'ایک',
 'با',
 'باشد',
 'بخش',
 'بر',
 'برای',
 'برخه',
 'بعد',
 'بعض',
 'بل',
 'بن',
 'به',
 'بود',
 'بوده',
 'بيا',
 'بين',
 'بھی',
 'بیشتر',
 'بین',
 'تا',
 'تاریخ',
 'تر',
 'ترین',
 'تشکیل',
 'تم',
 'ته',
 'تو',
 'توسط',
 'توگه',
 'تک',
 'تھا',
 'تھی',
 'تھے',
 'ثم',
 'جاتا',
 'جس',
 'جنوب',
 'جنگ',
 'جو',
 'حاصل',
 'حدود',
 'حضرت',
 'حيث',
 'حکومت',
 'خان',
 'خلال',
 'خو',
 'خود',
 'خورشید',
 'خپل',
 'دا',
 'دارد',
 'داسې',
 'داعش',
 'ددې',
 'در',
 'دست',
 'دغه',
 'ده',
 'دو',
 'دور',
 'دوران',
 'دوره',
 'دولت',
 'دى',
 'دي',
 'دی',
 'دیا',
 'دیگر',
 'دې',
 'ذلك',
 'را',
 'ریاست',
 'زبان',
 'زده',
 'زمان',
 'زمین',
 'زندگی',
 'زیادہ',
 'ساتھ',
 'سازمان',
 'سال',
 'سر',
 'سره',
 'سطح',
 'سو',
 'سوریه',
 'سید',
 'سے',
 'شامل',
 'شاه',
 'شد',
 'شده',
 'شمال',
 'شهر',
 'شو',
 'شود',
 'شوي',
 'شوی',
 'شي',
 'شکل',
 'شہر',
 'صورت',
 'طرح',
 'طور',
 'عام',
 'عدد',
 'على',
 'علی',
 'علیہ',
 'عن',
 'عنوان',
 'غير',
 'في',
 'قبل',
 'قد',
 'قرار',
 'كان',
 'كانت',
 'كل',
 'كما',
 'كې',
 'لا',
 'لاندې',
 'لري',
 'لم',
 'له',
 'لپاره',
 'لکه',
 'لیے',
 'ما',
 'متر',
 'محمد',
 'مختلف',
 'مربع',
 'مردم',
 'مرکز',
 'مشتمل',
 'مع',
 'ملل',
 'ملی',
 'من',
 'مورد',
 'می',
 'میلادی',
 'میں',
 'نام',
 'نظام',
 'نظر',
 'نفر',
 'نه',
 'نو',
 'نور',
 'نوم',
 'نہ',
 'نہیں',
 'نیز',
 'نے',
 'ها',
 'های',
 'هذا',
 'هذه',
 'هر',
 'هغه',
 'هم',
 'همچنین',
 'هو',
 'هي',
 'واقع',
 'وجود',
 'وخت',
 'وروسته',
 'وفي',
 'وقت',
 'وقد',
 'وه',
 'وهو',
 'وو',
 'وي',
 'وہ',
 'وی',
 'يا',
 'يلوستون',
 'يو',
 'يوه',
 'يې',
 'پاکستان',
 'پر',
 'پس',
 'په',
 'پورې',
 'پښتو',
 'پیدا',
 'پیش',
 'څخه',
 'چه',
 'چي',
 'چی',
 'چې',
 'ډول',
 'ښه',
 'کا',
 'کار',
 'کال',
 'کتاب',
 'کر',
 'کرتے',
 'کرد',
 'کرده',
 'کرمانشاه',
 'کرنے',
 'کشور',
 'کله',
 'کم',
 'کند',
 'کنند',
 'که',
 'کو',
 'کوي',
 'کى',
 'کي',
 'کيږي',
 'کړي',
 'کړې',
 'کہ',
 'کی',
 'کیا',
 'کې',
 'کېږي',
 'کے',
 'گیا',
 'ہو',
 'ہوئے',
 'ہوا',
 'ہوتا',
 'ہی',
 'ہیں',
 'ہے',
 'یا',
 'یعنی',
 'یو',
 'یک',
 'یکی',
 'یہ',
 'یې',
 'अक',
 'अत',
 'अध',
 'अन',
 'अपन',
 'अभ',
 'अर',
 'अस',
 'आध',
 'आर',
 'इज',
 'इन',
 'इस',
 'इसक',
 'उत',
 'उद',
 'उन',
 'उनक',
 'उपय',
 'उस',
 'उसक',
 'एक',
 'एव',
 'ऐस',
 'और',
 'कई',
 'कम',
 'कर',
 'करण',
 'करत',
 'करन',
 'कल',
 'कह',
 'गत',
 'गय',
 'गर',
 'जन',
 'जब',
 'जर',
 'टर',
 'तक',
 'तथ',
 'तर',
 'दक',
 'दन',
 'दर',
 'नह',
 'पत',
 'पद',
 'पन',
 'पर',
 'पहल',
 'बड',
 'बन',
 'बर',
 'बह',
 'मक',
 'मन',
 'मस',
 'मह',
 'यक',
 'यत',
 'यद',
 'यम',
 'यह',
 'रक',
 'रण',
 'रत',
 'रद',
 'रभ',
 'रम',
 'रय',
 'रस',
 'रह',
 'लक',
 'लग',
 'लत',
 'लन',
 'लय',
 'वत',
 'वन',
 'वर',
 'वल',
 'वस',
 'वह',
 'शन',
 'षण',
 'सक',
 'सकत',
 'सन',
 'सभ',
 'सम',
 'समय',
 'सर',
 'हर',
 'அட',
 'அண',
 'அத',
 'அன',
 'அம',
 'அர',
 'அற',
 'அல',
 'அளவ',
 'அவர',
 'ஆக',
 'ஆண',
 'ஆம',
 'இக',
 'இச',
 'இத',
 'இதன',
 'இந',
 'இர',
 'இல',
 'இவ',
 'இவர',
 'உர',
 'உற',
 'உள',
 'ஊர',
 'என',
 'எழ',
 'ஏற',
 'ஒன',
 'ஒர',
 'கக',
 'கட',
 'கடல',
 'கண',
 'கத',
 'கப',
 'கம',
 'கர',
 'கல',
 'கள',
 'கழ',
 'கவ',
 'சட',
 'சம',
 'சர',
 'டங',
 'டத',
 'டன',
 'டப',
 'டம',
 'டர',
 'தக',
 'தத',
 'தன',
 'தப',
 'தம',
 'தர',
 'தல',
 'நட',
 'னத',
 'னர',
 'பக',
 'பட',
 'பத',
 'பயன',
 'பர',
 'பல',
 'மக',
 'மண',
 'மத',
 'மன',
 'மற',
 'மல',
 'யத',
 'யப',
 'யம',
 'யர',
 'யல',
 'ரத',
 'ரம',
 'றத',
 'றன',
 'றப',
 'லத',
 'லம',
 'ளத',
 'ளன',
 'ளர',
 'வக',
 'வட',
 'வத',
 'வந',
 'வர',
 'กร',
 'คศ',
 'งกฤษ',
 'งข',
 'งท',
 'งน',
 'งม',
 'งส',
 'งเป',
 'นก',
 'นด',
 'นต',
 'นท',
 'นธ',
 'นน',
 'นผ',
 'นส',
 'นอ',
 'บร',
 'พศ',
 'มพ',
 'ยวก',
 'วย',
 'หร',
 'หล',
 'อง',
 'อน',
 'อย',
 'อว',
 'าง',
 'าน',
 'เก',
 'เข',
 'เช',
 'เด',
 'เน',
 'เป',
 'เพ',
 'เม',
 'เร',
 'เล',
 'แต',
 'และ',
 'ใช',
 'ในป',
 'ให',
 'ได',
 'ไม',
 'また',
 '年月日',
 '月日',
 '같은',
 '것을',
 '그는',
 '그러나',
 '그리고',
 '그의',
 '다시',
 '대한',
 '되었다',
 '된다',
 '또한',
 '불타는',
 '위해',
 '의해',
 '이후',
 '있는',
 '있다',
 '자신의',
 '한다',
 '함께']

In [24]:
xtf = pd.DataFrame(xtraintf.A,columns=TF.get_feature_names())
xtf

,aan,aastal,ab,ac,ad,ada,adalah,after,akan,al,...,또한,불타는,위해,의해,이후,있는,있다,자신의,한다,함께
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17482,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17483,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17484,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17485,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17486,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
from sklearn.naive_bayes import MultinomialNB

In [26]:
mnb_model = MultinomialNB()
mnb_model.fit(xtraintf.A,ytrain)

C:\Users\Public\OnkarJ\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB()

In [27]:
from sklearn.metrics import accuracy_score

In [28]:
ypredtest = mnb_model.predict(xtesttf.A)

In [29]:
accuracy_score(ytest,ypredtest)

0.9217749313815188

In [30]:
ypredtest

array([ 1, 10,  4, ..., 13,  3, 15])

In [31]:
ytest1 = LB.inverse_transform(ypredtest)

In [32]:
ytest1

array(['Chinese', 'Latin', 'Estonian', ..., 'Pushto', 'English',
       'Russian'], dtype=object)

In [33]:
xtest

12365    克卜勒b（英语：kepler-b），舊稱koi-（有時候稱為koi- b），是一個環繞b型次...
20520    caraş-severin dacoromanice județ caraş-severin...
2686     erinevad seened kahjustavad lehti ja võrseid t...
2201     پھر بھی جن علاقوں میں وہ رہتے ہیں۔ وہاں قدرتی ...
9676     arna bontemps hughes için "özgün caz ozanı" di...
                               ...
1112     لومړنۍ اومنځنۍ زده كړي يې دكابل په سپين كلي لي...
2216     в декабре  года сергей овчинников по приглашен...
10038    ۔د اپريشن راه حق کمانډر ميجر جنرل ناصر جنجوعه ...
19317    hearst has appeared in feature films for direc...
226      выводы механической теории теплоты подтвердив ...
Name: Text, Length: 4372, dtype: object

# Finding solution when input is given

In [37]:
sent = input()
def solution(model,sentence):
    token = sent_tokenize(sentence)
    clean = [i for i in token if i not in  punctuation]
    text = ' '.join(clean)
    text = TF.transform([text])
    y = model.predict(text)
    return LB.inverse_transform(y)


print('The selected language is',solution(mnb_model,sent))

مړنۍ اومنځنۍ زده كړي يې دكابل په سپين كلي لي
The selected language is ['Pushto']